#inicio{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
}

.grupo-de-botones{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

#boton1{
    background-color:#DC96BD;
    border-radius: 1rem;
    padding: 0.75rem;
    font-size: 16px;
    cursor: pointer;
    color: white;

}

#boton2{
    background-color:#FFFFFF;
    border-radius: 1rem;
    padding: 0.75rem;
    font-size: 16px;
    cursor: pointer;    
}

#inicio article h1{
    color: rgba(220, 150, 189, 1);
    font-size: 48px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#inicio article h2{
    color:rgba(154, 128, 174, 1);
    font-size: 48px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.aboutMeRight{
    border-radius: 25%;
    display: flex;
    overflow: hidden;
}
